<h2>会員情報編集</h2>
<%= render 'layouts/error', obj:current_customer %>
<%= form_with model:current_customer, url: customers_information_path do |f| %>
  <table>
    <thead>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>氏名</td>
        <td>
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
        </td>
        <td>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
        </td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td>
          <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
        </td>
        <td>
          <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :postal_code, "郵便番号（ハイフンなし）" %></td>
        <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></td>
        <td></td>
      </tr>
      <tr>
        <td><%= f.label :address, "住所" %></td>
        <td><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
        <td></td>
      </tr>
      <tr>
        <td><%= f.label :telephone_number, "電話番号（ハイフンなし）" %></td>
        <td><%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <%= f.label :email, "メールアドレス" %>
        </td>
        <td>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= f.submit "編集内容を保存", class: "btn btn-success" %>
        </td>
        <td>
          <%= link_to "退会する", customers_unsubscribe_path,  class: "btn btn-danger" %>
        </td>
      </tr>
    </tbody>
  </table>


<% end %>
