<h2>マイページ</h2>
<h3>登録情報</h3>  <%= link_to "編集する", customers_infomation_edit_path, class: 'btn btn-success' %>

<table>
  <tbody>
    <tr>
      <td>氏名</td>
      <td><%= current_customer.last_name %> <%= current_customer.first_name %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= current_customer.last_name_kana %> <%= current_customer.first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= current_customer.postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= current_customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= current_customer.telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= current_customer.email %></td>
    </tr>
  </tbody>
</table>

<h3>配送先</h3>
<h3>注文履歴</h3>