<div class="row">
  <div class="col-4"></div>
  <div class="col-8">
    <h3>商品編集</h3>
    <%= form_with model: @item, url:admin_item_path(@item), method: :patch do |f| %>
    <%= render 'layouts/error', obj: f.object %>
<table>
  <tbody>
    <tr>
      <td><%= f.label :image, "商品画像" %></td>
      <td><%= f.file_field :image, accept: "image/*" %></td>
    </tr>
    <tr>
      <td><%= f.label :name, "商品名" %></td>
      <td><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
    </tr>
    <tr>
      <td><%= f.label :introduction, "商品説明" %></td>
      <td><%= f.text_area :introduction, autofocus: true, autocomplete: "introduction" %></td>
    </tr>
    <tr>
      <td><%= f.label :genre_id, "ジャンル" %></td>
      <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %></td>
    </tr>
    <tr>
      <td><%= f.label :price, "税抜価格" %></td>
      <td><%= f.text_field :price, autofocus: true, autocomplete: "price" %>円</td>
    </tr>
    <tr>
      <td><div>販売ステータス</div></td>
      <td>
        <%= f.radio_button :is_active, true %>
        <%= f.label :is_active, "販売中" %>

        <%= f.radio_button :is_active, false %>
        <%= f.label :is_active, "販売停止中" %>
      </td>
    </tr>
  </tbody>
</table>
  <%= f.submit "変更を保存", class: "btn btn-success" %>
<% end %>
  </div>
</div>