<h3>商品一覧</h3>

<%= link_to new_admin_item_path do %>
  <i class="fas fa-plus-circle"></i>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="table-secondary">商品ID</th>
      <th class="table-secondary">商品名</th>
      <th class="table-secondary">税込価格</th>
      <th class="table-secondary">ジャンル</th>
      <th class="table-secondary">ステータス</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
  <tr>
    <td><%= item.id %></td>
    <td>
      <%= link_to admin_item_path(item) do %>
        <%= item.name %>
      <% end %>
    </td>
    <td><%= item.price %></td>
    <td><%= item.genre.name %></td>
    <td>
      <% if item.is_active == true %>
        <div class="text-success">販売中</div>
      <% else %>
        <div class="text-secondary">販売停止中</div>
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>