<h3>配送先編集</h3>

<%= form_with model:@address, url: address_path(@address), method: :patch do |f| %>
  <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
  <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></br>
  <%= f.label :address, "住所" %>
  <%= f.text_field :address, autofocus: true, autocomplete: "address" %></br>
  <%= f.label :name, "宛名" %>
  <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  <%= f.submit "変更内容を保存", class: "btn btn-success" %>
<% end %>