<h3>配送先登録/一覧</h3>
<h2 class="text-success"><%= flash[:notice] %></h2>
<%= form_with model:@address, url: addresses_path, method: :post do |f| %>
<%= render 'layouts/error', obj: f.object %>
<table>
  <tbody>
    <tr>
      <td><%= f.label :postal_code, "郵便番号（ハイフンなし）" %></td>
      <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></td>
    </tr>
    <tr>
      <td><%= f.label :address, "住所" %></td>
      <td><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
    </tr>
    <tr>
      <td><%= f.label :name, "宛名" %></td>
      <td><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
      <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
    </tr>
  </tbody>
</table>
<% end %>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <td class="table-secondary">郵便番号</td>
      <td class="table-secondary">住所</td>
      <td class="table-secondary">宛名</td>
      <td class="table-secondary"></td>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
    <tr>
      <td><%= address.postal_code %></td>
      <td><%= address.address %></td>
      <td><%= address.name %></td>
      <td><%= link_to "編集する", edit_address_path(address), class: "btn btn-success" %><%= link_to "削除する", address_path(address), method: :delete, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>