<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>naganocake</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
        <div class="text-light">ようこそ<%= current_customer.last_name %>さん！</div>
          <li>
            <%= link_to ' マイページ', customers_my_page_path,class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to ' 商品一覧',items_path,class: 'nav-link text-light' %>
          </li>
          <li>
            <%= link_to ' カート',cart_items_path ,class: 'nav-link text-light'%>
          </li>
          <li>
            <%= link_to ' ログアウト', destroy_customer_session_path, method: :delete,class: 'nav-link text-light' %>
          </li>
        <% elsif admin_signed_in? %>
          <li><%= link_to ' 商品一覧',admin_items_path,class: 'nav-link text-light' %></li>
          <li><%= link_to '会員一覧',admin_customers_path,class: 'nav-link text-light' %></li>
          <li><%= link_to ' 注文履歴一覧', admin_orders_path,class: 'nav-link text-light' %></li>
          <li><%= link_to ' ジャンル一覧', admin_genres_path ,class: 'nav-link text-light'%></li>
          <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete,class: 'nav-link text-light' %></li>
          <div>
            <%= form_with url:admin_items_search_path, method: :get do |f| %>
              <%= f.text_field :search, placeholder: "search" %>
              <% f.submit %>
            <% end %>
          </div>
        <% else %>
          <li><%= link_to ' About',about_path,class: 'nav-link text-light' %></li>
          <li><%= link_to ' 商品一覧',items_path,class: 'nav-link text-light' %></li>
          <li><%= link_to ' 新規登録', new_customer_registration_path,class: 'nav-link text-light' %></li>
          <li><%= link_to ' ログイン', new_customer_session_path ,class: 'nav-link text-light'%></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>